{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Upload manga</title>
{% endblock %}

{% block content %}
<div class="p-5">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group container">
            <div class="row">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="row">
                {{ form.avatarInput.label_tag }}
                {{ form.avatarInput }}
            </div>
            <img id="avatarPreview" width="200" class="mb-4" src='{{ form.avatarLink.value }}'>
            <div class="row">
                {{ form.author.label_tag }}
                {{ form.author }}
            </div>
            <div class="row hidden">
                {{ form.avatarLink.label_tag }}
                {{ form.avatarLink }}
            </div>
            <div class="row">
                {{ form.genres.label_tag }}
                {{ form.genres }}
            </div>
            <div class="row">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<script>

    const imgInput = document.querySelector("#id_avatarInput")
    const displayImg = document.querySelector("#avatarPreview")
    imgInput.addEventListener('change', () => {
        displayImg.src = URL.createObjectURL(imgInput.files[0])
        displayImg.classList.remove('hidden');
    })

</script>
{% endblock %}