<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <img src="../static/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Homepage</a></li>
                            <li><a href="#">Genres <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown" style="width:30vw; ">
                                    <li>
                                        <div class="container"  style="display: flex; flex-wrap: wrap;">
                                            <!-- <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5>
                                            <h5 style="flex: 0 0 auto;" class="empty-box p-2">Cat1</h5> -->
                                            
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class=""><a href="/manage">Manage</a></li>
                            <li class=""><a href="/search">Advanced search</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.username %}" class="search-switch">
                            <span>{{user.username}} </span>
                        </a>
                        <a href="{% url 'logout' %}">
                            <span>Log out</span>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="search-switch"><span>Login</span></a>
                        <a href="{% url 'register' %}"><span class="">Sign up</span></a>
                    {% endif %}
                    <!-- <a href="/login" class="search-switch"><span>Login</span></a>
                    <a href="/register"><span class="">Sign up</span></a> -->
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>

<script>
    listGenresView = document.querySelector('.dropdown .container')
    window.addEventListener('load', () => {
        fetch('/genre/all')  
        .then(response => response.text())
        .then(result => {
            result = JSON.parse(result)
            genres = JSON.parse(result.genres)
            console.log(genres)

            genres.forEach((genre) => {
                var g = document.createElement('a')
                g.href = `/genre/${genre.fields.slug}`;
                g.className = 'empty-box p-2';
                g.setAttribute('style', 'flex: 0 0 auto; color:#000000;');
                g.innerText = genre.fields.genreName;
                console.log(g)
                listGenresView.appendChild(g)
            })
        })
        .catch(error => {
            console.error(error);
        });
    })

</script>
<!-- Header End -->